<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.go.kominfobms.mitrakurirlangit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mitra"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mitra"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="id.go.kominfobms.mitrakurirlangit.input_ulang_kode"></activity>
        <activity android:name="id.go.kominfobms.mitrakurirlangit.input_kode" />
        <activity android:name="id.go.kominfobms.mitrakurirlangit.lupa_password" />
        <activity android:name="id.go.kominfobms.mitrakurirlangit.daftar_akun" />
        <activity android:name="id.go.kominfobms.mitrakurirlangit.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.go.kominfobms.mitrakurirlangit.dashboard" />
        <activity android:name="id.go.kominfobms.mitrakurirlangit.MainActivity" />
    </application>

</manifest>